{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "env": {
    "browser": true,
    "builtin": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "ace": true,
    "angular": true,
    "_": true
  },
  "rules": {

    "valid-typeof": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-undef": "error",
    "no-const-assign": "error",
    "semi": ["error", "always"],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }],

    "consistent-return": "error",
    "eqeqeq": ["error", "allow-null"],
    "quotes": ["error", "single"]
  }
}