extends layout

block content
  .repl-container(ng-controller='mainCtrl')

    .bttns
      .fake-a.warn(ng-click='clear()') Clear
      .fake-a.cp-code(ng-click='selectAll()' data-clipboard-text='{{ getCode() }}') Copy
      .fake-a.cp-sql(ng-click='focus()' data-clipboard-target='.output.sql') Copy-SQL
      .fake-a(ng-show='!selectingTheme' ng-click='selectingTheme=!selectingTheme') Theme
      select(ng-show='selectingTheme' ng-model='currentTheme' ng-change='setTheme()')
        option(ng-repeat="theme in themes" value="{{theme}}") {{theme}}
      .fake-a(ng-show='selectingTheme' ng-click='selectingTheme=!selectingTheme; focus()') Ok
      .fake-a(ng-click='insertIife()') Insert iife

    .editor-area
      div.code.js(id='editor' ng-model='input')
      pre.output.sql(
        ng-class="{errMsg: error}"
        ng-bind-html="error ? error : output | to_trusted"
        ng-model='output'
      )