body
  background #eee
  overflow-y scroll

.content-wrapper
  margin-top 8px
  display flex
  flex-direction row
  justify-content space-around

.content
  display flex
  flex 1 1 auto
  // max-width 1080px

.repl-container
  display flex
  flex-direction column
  height 100%
  width 100%

.editor-area
  flex 1 1 auto
  width 100%
  // min-height 150px
  // min-height 300px
  height calc(100vh - 50px)
  // border dashed 1px purple
  display flex
  flex-direction column

// make it do the vertical split after expanding past this width
@media (min-width:1250px)
  .editor-area
    flex-direction row
  .output
    max-width 650px !important
    height calc(100vh - 81px) !important
  .code
    height 100%

#editor
  font-size 0.8rem

.code
  flex 1 1 auto
  overflow-y auto
  overflow-x auto

.output
  margin-top 0
  flex 1 1 auto
  background-color lightgrey
  padding 1rem
  height calc(100vh - 880px)
  max-width calc(100vw - 47px)
  overflow-y auto
  overflow-x auto

.errMsg
  color lighten(darkred, 10%)

.fake-a
  color darken(lightgrey, 40%)
  cursor pointer
  padding 0.5rem 1rem
  display inline-block
  user-select none
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  -o-user-select none
  &:hover
    text-decoration underline

.fake-a.warn
  color lighten(darkred, 50%)
